{{ if .Values.core.deploy }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cytomine.name" . }}-core-config
data:
  cytomineconfig.groovy: |-
    {{ (tpl (.Files.Get "configs/core.conf") . ) | nindent 4 }}
{{ end }}
