apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "cytomine.name" . }}-ingress
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  rules:
    - host: {{ .Values.global.domainName }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "cytomine.name" . }}-nginx
                port:
                  number: 80
  {{ if eq .Values.protocol "https" }}
  tls:
  - hosts:
    - {{ .Values.global.domainName }}
    secretName: {{ include "cytomine.name" . }}-ingress-tls
  {{ end }}
