{{ if or .Values.bioformat.deploy }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ template "cytomine.name" . }}-image-claim
spec:
  storageClassName: {{ .Values.readManyStorageClass }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.imageStorage }}
{{ end }}
